<div id="container0" class="flex-container" style="position: absolute; left: 50%; top: 100px;">
    <div id="c1" class="pb1_arc_spin">
        <div class="pb1_arc_angle pb1_arc_fill_green0" id="c1pb1_arc_0">
            <div class="pb1_arc_angle pb1_arc_fill_green1" id="c1pb1_arc_1">
                <div class="pb1_arc_angle pb1_arc_fill_green2" id="c1pb1_arc_2">
                    <div class="pb1_arc_angle pb1_arc_fill_green3" id="c1pb1_arc_3">
                        <div class="pb1_arc_angle pb1_arc_fill_green4" id="c1pb1_arc_4">
                            <div class="pb1_arc_angle pb1_arc_fill_green5" id="c1pb1_arc_5">
                                <div class="pb1_arc_angle pb1_arc_fill_green6" id="c1pb1_arc_6">
                                    <div class="pb1_arc_angle pb1_arc_fill_green7" id="c1pb1_arc_7">
                                        <div class="pb1_arc_angle pb1_arc_fill_green8" id="c1pb1_arc_8">
                                            <div class="pb1_arc_angle pb1_arc_fill_green9" id="c1pb1_arc_9">
                                                <div class="pb1_arc_angle pb1_arc_fill_green10" id="c1pb1_arc_10">
                                                    <div class="pb1_arc_angle pb1_arc_fill_green11" id="c1pb1_arc_11">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>