.genericStatusBar {
    width: 100%;
    height: 18px;
    border-radius: 15px;
    margin: 4px;
}

.progress-bar-green {
    background: linear-gradient(-90deg, #dff564, #64dbad);
}

.progress-bar-blue {
    background: linear-gradient(-90deg, #5ddbb6, #5caed4);
}

.progress-bar-red {
    background: linear-gradient(-90deg, #eeec77, #f56565);
}
