.tab-container-header {
    background: #f2f2f2;
    border: 1px solid #d2d2d2;
    border-bottom: none;
}

.tab-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}

.tab-content {
    font-size: 18px;
}

.tab-links {
    font-size: 16px;
    padding: 8px;
    border: none;
    outline: none;
    background: #f2f2f2;
    cursor: pointer;
}

.tab-links:hover {
    background-color: #92e96f;
}

.tabs-hidden {
    display: none;
}

.tab-section {
    padding: 8px;
    border: 1px solid #d2d2d2;
}